version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
    restart: always
    environment:
      - TZ=Asia/Shanghai
      - WECOM_WEBHOOK_URL= https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=1c16b426-ed9d-48d6-bb83-9eb6e4f4aff7
